* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#page-wrapper {
  position: relative;
}

#header {
  position: absolute;
  width: 100%;
}

#header .navbar {
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;
}

#header .navbar a {
  color: white;
}

#header .navbar .navbar-brand {
  font-size: 29.16667pt;
}

#hero {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url(../images/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .hero-content {
  max-width: 480px;
  background-color: rgba(255, 255, 255, 0.83);
  text-align: center;
  position: relative;
  top: 28%;
  padding: 70px 0;
}

#hero .hero-content h1 {
  font-size: 45px;
  color: #2c3a42;
  font-family: "Cookie";
  font-weight: 400;
}

#hero .hero-content h2 {
  font-size: 37px;
  color: #ad6c12;
  font-family: "Raleway";
  font-weight: 600;
}

#hero .hero-content button {
  border: none;
  background-color: #fff;
  font-size: 24px;
  color: #26363a;
  font-family: "Raleway";
  font-weight: 600;
  padding: 3px 12px;
}

#about {
  position: relative;
  width: 100%;
  top: 100vh;
  background-color: #26363a;
  color: #fff;
  padding: 50px 0;
}

#about h3 {
  font-size: 26px;
}

#about p {
  font-size: 15px;
}

#services {
  position: relative;
  top: 100vh;
  padding: 100px 0;
}

#services h3 {
  font-size: 18px;
}

#services p {
  font-size: 15px;
}

#gallery {
  position: relative;
  top: 100vh;
  height: 100vh;
  background-image: url(../images/menu-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#gallery .grid {
  max-width: 90%;
}

#gallery .grid .gallery-card {
  width: 200px;
}

#menu {
  position: relative;
  top: 100vh;
  height: 800px;
  background-image: url(../images/menu-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 65px;
}

#menu .menu-content {
  background-color: rgba(255, 255, 255, 0.83);
  padding: 25px;
}

#menu .menu-content .circle {
  border-radius: 50%;
  background-color: #fff;
  height: 80px;
  width: 80px;
}

#menu .menu-content h3 {
  font-size: 18px;
}

#menu .menu-content p {
  font-size: 15px;
}

#menu .menu-content .menu-row {
  margin-bottom: 30px;
}

#events {
  position: relative;
  top: 100vh;
  padding: 50px 0;
  background-color: #eee;
}

#events .cards {
  padding: 25px 0;
}

#events .cards .event-card {
  max-width: 270px;
  border-radius: 0;
}

#events .cards .event-card .card-img {
  border-radius: 0;
}

#events .cards .event-card p,
#events .cards .event-card h5 {
  margin-bottom: 7px;
}

#events .cards .event-card .card-title {
  font-size: 18px;
}

#events .cards .event-card .card-text,
#events .cards .event-card .card-link {
  font-size: 15px;
}

#testimonial {
  position: relative;
  top: 100vh;
  padding: 50px 0;
  background-color: #26363a;
}

#testimonial .testimonial-content {
  max-width: 460px;
  color: #fff;
}

#testimonial .testimonial-content h3 {
  font-size: 50px;
}
/*# sourceMappingURL=main.css.map */