* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-wrapper {
  position: relative;
}

#header {
  position: absolute;
  width: 100%;
  .navbar {
    background-color: rgba(0, 0, 0, 0);
    z-index: 99;
    a {
      color: rgba(255, 255, 255, 255);
    }
    .navbar-brand {
      font-size: 29.16667pt;
      //   font-family: Raleway-Bold, AdobeInvisFont, MyriadPro-Regular;
    }
  }
  .navbar-toggler {
    border: 2px solid #fff;
    .navbar-toggler-icon {
      color: #fff;
    }
  }
}

// @include media-breakpoint-up(md) {
//   .navbar {
//     background-color: #26363a;
//   }
// }

#hero {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url(../images/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .hero-content {
    max-width: 480px;
    background-color: rgba(255, 255, 255, 0.83);
    text-align: center;
    position: relative;
    top: 28%;
    padding: 70px 0;
    h1 {
      font-size: 45px;
      color: #2c3a42;
      font-family: "Cookie";
      font-weight: 400;
    }
    h2 {
      font-size: 37px;
      color: #ad6c12;
      font-family: "Raleway";
      font-weight: 600;
    }
    button {
      border: none;
      background-color: #fff;
      font-size: 24px;
      color: #26363a;
      font-family: "Raleway";
      font-weight: 600;
      padding: 3px 12px;
    }
  }
}

#about {
  position: relative;
  width: 100%;
  top: 100vh;
  //   left: 0;
  background-color: #26363a;
  color: #fff;
  padding: 50px 0;
  h3 {
    font-size: 26px;
  }
  p {
    font-size: 15px;
  }
}

#services {
  position: relative;
  top: 100vh;
  padding: 100px 0;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
}

#gallery {
  position: relative;
  top: 100vh;
  height: 100vh;
  background-image: url(../images/menu-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .grid {
    max-width: 90%;
    .gallery-card {
      width: 200px;
      img {
      }
    }
  }
}

#menu {
  position: relative;
  top: 100vh;
  height: 800px;
  background-image: url(../images/menu-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 65px;
  .menu-content {
    background-color: rgba(255, 255, 255, 0.83);
    padding: 25px;
    .circle {
      border-radius: 50%;
      background-color: #fff;
      height: 80px;
      width: 80px;
    }
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 15px;
    }
    .menu-row {
      // margin-bottom: 30px;
    }
  }
}

#events {
  position: relative;
  top: 100vh;
  padding: 50px 0;
  background-color: #eee;
  .cards {
    padding: 25px 0;
    .event-card {
      max-width: 270px;
      border-radius: 0;
      .card-img {
        border-radius: 0;
      }
      p,
      h5 {
        margin-bottom: 7px;
      }
      .card-title {
        font-size: 18px;
      }
      .card-text,
      .card-link {
        font-size: 15px;
      }
    }
  }
}

#testimonial {
  position: relative;
  top: 100vh;
  padding: 50px 0;
  background-color: #26363a;
  .testimonial-content {
    max-width: 460px;
    color: #fff;
    h3 {
      font-size: 50px;
    }
  }
}

footer {
  //   height: 320px;
  background-color: #eee;
  position: relative;
  top: 100vh;
  padding: 65px 0;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .footer-left {
    // border-right: 1px solid rgb(43, 43, 43);
  }
  .footer-middle {
    .footer-contact {
      margin-bottom: 15px;
      p {
        padding: 0 5px;
        margin: 0;
        font-size: 16px;
      }
      .contact-icon {
        font-size: 16px;
      }
    }
  }
  .footer-social {
    font-size: 20px;
  }
}

@import "./menu.scss";
