#main-menu {
  position: relative;
  top: 100vh;
  padding: 65px 0;
  min-height: 730px;
  .nav {
    .tab-link {
      padding: 5px 8px;
      font-size: 18px;
    }
  }
  .menu-row {
    margin-bottom: 30px;
    .circle {
      border-radius: 50%;
      background-color: rgb(172, 96, 96);
      height: 90px;
      width: 90px;
      img {
        border-radius: 50%;
      }
    }
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 15px;
      margin-bottom: 4px;
    }
  }
}
